<div class="login-container" ng-controller="favoriteController as favCtrl">
    <div class="Content" id="Favorite">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-click="sortBy('index')">Index</th>
                    <th ng-click="sortBy('Name')">POI name</th>
                    <th ng-click="sortBy('Category')">Category</th>
                    <th>Sort</th>
                    <th>   </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-model="favCtrl.favPOI" ng-repeat="poi in favCtrl.favPOI | orderBy:propertyName:reverse">
                    <td>{{poi.pos}}</td>
                    <td>{{poi.Name}}</td>
                    <td>{{poi.Categories[0].Name}}</td>
                    <td class="pt-3-half">
                        <span class="table-up"><a href="#!" class="indigo-text" ng-click="goUp(poi.pos)"><i class="fas fa-long-arrow-alt-up"
                                    aria-hidden="true"></i></a></span>
                        <span class="table-down"><a href="#!" class="indigo-text" ng-click="goDown(poi.pos)"><i class="fas fa-long-arrow-alt-down"
                                    aria-hidden="true"></i></a></span>
                    </td>
                    <td><button class='btn btn-danger' ng-click="deleteRow(poi.Name)">Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>