<div class="login-container" ng-controller="favoriteController as favCtrl">
    <div class="Content" id="Favorite">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="poi in favCtrl">
                    <td></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>