<!DOCTYPE html>
<div class="container" ng-controller="searchController as searchCtrl">
    <div class="mx-auto d-inline-flex">
        <input ng-model="search.Name" type="text" class="mx-auto">
        <button ng-click="searchCtrl.search(search.Name)" class="btn btn-primary mx-auto" >Search</button>
    </div>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Categories</button>
        <div class="dropdown-menu">
            <div class="dropdown-item form-check">
                <div class="list-group" ng-repeat="category in searchCtrl.categoriesPossibleFilter">
                    <label class="form-check-label">
                        <input ng-model="searchCtrl.categoriesFilter[category.Id]" type="checkbox" class="form-check-input">{{category.Name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group" ng-repeat="poi in searchCtrl.searchResults | filter:searchCtrl.filterByCategory | orderBy:'Rate':true">
        <a ng-herf="/show/{{poi.Id}}" class="list-group-item list-group-item-action inline-block">
            <div class="list-inline">
                <img class="d-inline-block" ng-src={{poi.Picture}} width="50" height="50">
                <span class="list-inline-item mw-100">Name {{poi.Name}}</span>
                <span class="list-inline-item mw-100 text-black-50">Rate {{poi.Rate}}</span>
            </div>
        </a>
    </div>
</div>