<div class="login-container" ng-controller="loginController as loginCtrl">
    <div class="Content" id="Login">
        <div class="container">
            <div class="card">
                <div class="card-header mb-3">
                    <div class="card-title">
                        <h2 class="text-center">Login</h2>
                    </div>
                </div>
                <div class="card-content px-3 mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" placeholder="Username" id="uname" ng-model="loginCtrl.user.username"
                            ng-required="true" class="form-control" name="usernameInput">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" placeholder="******" id="psw" ng-model="loginCtrl.user.password"
                            ng-required="true" class="form-control" name="passwordInput" ng-minlength="3">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary btn-block"
                            ng-click="loginCtrl.login(loginCtrl.user)" >Login</button>

                    </div>
                </div>
                <input type="button" class="btn btn-primary btn-block" ng-click="loginCtrl.showHide()"
                    value="forgot password?"></input>
                <div class="card-footer" ng-show="forgotSection">
                    <!--<span class="text-info text-center"><a>forgot password?</a></span>-->
                    <div class="input-group mb-3">
                        first question
                        <select name="questionSelect" id="lfquestionSelect" ng-model="loginCtrl.firstQuestion">
                            <option value="">--Please select a question--</option> <!-- not selected / blank option -->
                            <option ng-repeat="q in loginCtrl.questions">{{q}}</option> <!-- interpolation -->
                        </select>
                        <input type="text" placeholder="firstAnswer" id="firstAnswer" ng-model="loginCtrl.firstAnswer"
                            ng-required="true" class="form-control" name="firstAnswerInput">
                    </div>
                    <div class="input-group mb-3">
                        second question
                        <select name="questionSelect" id="lsquestionSelect" ng-model="loginCtrl.secondQuestion">
                            <option value="">--Please select a question--</option> <!-- not selected / blank option -->
                            <option ng-repeat="q in loginCtrl.questions">{{q}}</option> <!-- interpolation -->
                        </select>
                        <input type="text" placeholder="secondAnswer" id="secondAnswer" ng-model="loginCtrl.secondAnswer"
                            ng-required="true" class="form-control" name="secondAnswerInput">
                    </div>

                    <div class="input-group">
                        <button type="button" class="btn btn-primary btn-block" ng-click="loginCtrl.getPass()">Get
                            Password</button>
                        <p ng-bind="loginCtrl.restoredPass[0].Password"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>